.inner {
    width: 1200px;
    margin: 0 auto;
}

.tit {
    display: inline-block;
    position: relative;
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 30px 0;
}

.tit::after {
    position: absolute;
    content: "";
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #333;
}

.desc {
    font-size: 21px;
    font-weight: 300;
    text-align: center;
}

#header {
    line-height: 100px;
}

#header .inner {
    display: flex;
    justify-content: space-between;
}

#header .gnb {
    display: flex;
    gap: 50px;
}

#header .gnb>li {
    position: relative;
}

/* #header .gnb>li a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background: #00a88e;
}

#header .gnb>li:hover a::after {
    display: block;
} */

#header .gnb .submenu {
    display: none;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 150px;
    height: auto;
    line-height: 50px;
    background: #fff;
    border: 2px solid #00a88e;
    text-align: center;

    z-index: 9999;

    font-size: 14px;
}

#header .gnb>li:hover .submenu {
    display: block;
}


#header .gnb .submenu li {
    border-bottom: 1px solid #ddd;
}

#header .gnb .submenu li>a {
    display: block;
}

.mbtn {
    display: none;
}

@media (max-width:768px) {
    .mbtn {
        display: block;

        position: absolute;
        top: 30px;
        right: 30px;
        line-height: 1;
        font-size: 40px;

    }

    #header h1 {
        position: relative;
        z-index: 999;
        padding: 0 30px;
    }

    #header .gnb {
        position: absolute;
        top: 0;
        left: -100%;
        background: #fff;
        width: calc(100% - 90px);
        height: 100vh;
        border-right: 1px solid #ddd;
        line-height: 40px;
        transition: 0.5s;
    }

    #header .gnb.on {
        left: 0;
    }

    #header .inner {
        display: flex;
        justify-content: space-between;
    }

    #header .gnb>li {
        z-index: 9999;
        padding: 150px 0 0 0;
        background: #fff;
    }

    #header nav>ul>li>a {
        display: block;
        padding: 0 30px;
    }
}

.main_slide .slick-list,
.main_slide .slide-track {
    transition-delay: 0.3s;
}

.main_slide .itm {
    position: relative;
    height: 700px;
    background: url(../img/s_bg.jpg) no-repeat center center/cover;
}

.main_slide .itm img {
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.main_slide .itm .txt {
    position: absolute;
    bottom: 20%;
    left: 50%;

}

.main_slide .itm strong {
    display: block;
    font-size: 70px;
    font-weight: 700;
    color: #fff;
    margin: 0 0 30px 0;
    text-shadow: 1px 1px 10px #000;
}

.main_slide .itm p {
    font-size: 30px;
    font-weight: 300;
    color: #fff;
    line-height: 40px;
    margin: 0 0 50px 0;
}

.main_slide .itm a {
    color: #fff;
    padding: 10px 25px;
    border: 1px solid #fff;
    border-radius: 30px;
}

#mainVisual {
    position: relative;
}

#mainVisual .main_arrows i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    color: #fff;

    border: 1px solid #fff;
    border-radius: 50%;
    padding: 20px;
    cursor: pointer;
}

#mainVisual .main_arrows i:first-child {
    margin: 0 0 0 -700px;
}

#mainVisual .main_arrows i:last-child {
    margin: 0 0 0 700px;
}



#mainService {
    padding: 100px 0 50px 0;
    text-align: center;
}

#mainService .inner {
    display: flex;
    gap: 30px;
    padding: 50px 0;
}

#mainService .inner .con {
    position: relative;
    flex: 1;
    padding: 50px;
    cursor: pointer;
    overflow: hidden;
}



#mainService .inner .con i {
    font-size: 80px;
    margin: 0 0 20px 0;
    color: #111;
}

#mainService .inner .con p {
    font-size: 30px;
    font-weight: 700;
    margin: 0 0 30px 0;
}

#mainService .inner .con span {
    background: transparent;
    padding: 5px 20px;
    border: 1px solid #333;
}

#mainService .inner .con::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-top: 2px solid #00a88e;
    border-left: 2px solid #00a88e;
    width: 0;
    height: 0;
    visibility: hidden;
    transition: 0.5s;
}

#mainService .inner .con:hover::before {
    width: 100%;
    height: 100%;
    visibility: visible;
}

#mainService .inner .con::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border-bottom: 2px solid #00a88e;
    border-right: 2px solid #00a88e;
    visibility: hidden;
    transition: 0.5s;

}

#mainService .inner .con:hover::after {
    width: 100%;
    height: 100%;
    visibility: visible;
}


#mainproduct {
    width: 1200px;
    margin: 0 auto;
    padding: 0 0 150px 0;
    text-align: center;
}

#mainproduct .desc {
    margin: 0 0 50px 0;
}

#mainproduct .product_slide {
    margin: 0 -15px;
}

#mainproduct .product_slide .itm {
    height: 440px;

}

#mainproduct .product_slide .itm img {
    height: 350px;
    padding: 0 15px 20px 15px;
    object-fit: cover;
}

#mainproduct .product_slide .itm strong {
    display: block;
    font-size: 25px;
    font-weight: 700;
    margin: 15px 15px 0 15px;
    background: #f5f5f5;
    padding: 10px;
}

#mainproduct .product_slide .itm:hover strong {
    background: #00a88e;
    color: #fff;
}

#mainproduct .product_slide .itm span {
    font-size: 17px;
    font-weight: 300;
    margin: 0 0 0 15px;
}

#mainproduct .product_slide .itm span::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 13px;
    background: #999;
    margin: 0 10px;
    vertical-align: auto;
}

#mainproduct .product_slide .itm em {
    font-size: 17px;
    font-weight: 300;
}


#mainInfo {
    text-align: center;
    padding: 0 0 100px 0;
}

#mainInfo .desc {
    padding: 0 0 50px 0;
}

#mainInfo .inner {
    display: flex;
    gap: 30px;
}

#mainInfo .map_menu {
    display: flex;
    gap: 15px;
    width: 1200px;
    margin: 0 auto;
}

#mainInfo .map_menu li {
    font-size: 23px;
    font-weight: 700;
    margin: 0 0 10px 0;
}

#mainInfo .map_menu li~li::before {

    content: "";
    display: inline-block;
    width: 1px;
    height: 17px;
    background: #444;
    margin: 0 15px 0 0;
}

#mainInfo .map_menu li.on {
    color: #00a88e;
}

#mainInfo .inner .map {
    display: none;
}

#mainInfo .inner .map iframe {
    border-radius: 10px;
}

#mainInfo .inner .map.on {
    display: block;
}

#mainInfo .inner .contact {
    background: #00a88e;
    color: #fff;
    width: 100%;
    border-radius: 10px;
}

#mainInfo .inner .contact h3 {
    font-size: 35px;
    font-weight: 500;
    margin: 100px 0 30px 0;
}

#mainInfo .inner .contact h3 i {
    margin: 0 10px 0 0;
}

#mainInfo .inner .contact p {
    font-size: 50px;
    font-weight: 700;
    margin: 0 0 20px 0;
}

#mainInfo .inner .contact span {
    font-size: 20px;
    line-height: 32px;
    color: #f1f1f1;
}


#footer {}

#footer .f_top {
    display: flex;
    gap: 30px;
    padding: 20px 0;
    justify-content: center;

    background: #f9f9f9;
}

#footer .inner {
    display: flex;
    font-size: 14px;
    padding: 30px 0;
    color: #777;
    justify-content: space-between;
}

#footer .inner .fnb ul {
    display: flex;
    margin: 0 0 7px 0;
}

#footer .inner .fnb ul li~li::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    background: #999;
    margin: 0 15px;
}

#footer .inner .fnb address {
    margin: 10px 0 0 0;
}

#footer .inner select {
    height: 30px;
    width: 120px;
    padding: 0 10px;

    border: 1px solid #999;
    border-radius: 4px;
    color: #444;
}

.bold {
    font-weight: 700;
}

.toTop {
    position: fixed;
    bottom: 80px;
    right: 100px;
}

.toTop i {
    padding: 10px;
    font-size: 30px;
    border-radius: 30px;
    background: #fff;
    box-shadow: 1px 5px 10px #999;
    z-index: 1000;

    cursor: pointer;

    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.toTop.on i {
    opacity: 1;
    visibility: visible;
}